*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}
.padre{
    display:flex;
    flex-flow:column nowrap;
}
   
.header{
    display:flex;
    flex-flow: column nowrap;
    background:url(wp7070126.jpg);
    background-position: center;
    background-attachment:contain;
    background-size: cover;
}

.menu{
    background: rgba(0,0,0,.1);
    display:flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;

}

.logo{ 
    
    
    flex:1 1 auto;
    
}
.logo a{
    color:#fff;
    font-size:20px;
}
.logo a:hover{
    color:#343434;
}
.nav{

    flex:5 1 auto;
    
}
.nav a{
    color:#fff;
    font-size: 15px;
    text-transform: uppercase;
}
nav a:hover{
    color:#343434;
}

.social{
    
    flex:1 1 auto;
    display:flex;

}
.social a{
    color:#fff;
    font-size:15px;
}
.social a:hover{
    color:#343434;
}

.textoprincipal{
    display:flex;
    height: 580px;
    align-items: center;
}

h1{
    color:#fff;
    text-align: center;
    font-size: 21px;
}
.section{
    background: #343434;
    display: flex;
}

.articulo{
    background: #22577a;
    display: flex;
    flex-flow: row wrap;
    flex:2 1 auto;

}

.article{
    background:#38a3a5;
    flex:1 1 50px;
    font-size: 13px;
    margin: 10px 10px 0 0px;
    color:#fff;
}
.article img{
    width: 100%;
}
.article a{
    color:#fff;
    font-size: 13px;
    padding: 10px;
    background: #000;
    margin: 10px 0;
    display: inline-block;
}
.article a:hover{
    background: #546cc3;
}

.navegacion{
    background: #7D1935;
    flex:1 1 100%;
}
.aside{
    
    flex:1 1 auto;
    margin: 10px 5px 10px 0;
}
.aside img{
    width: 100%;
}
h4{
    background: #000;
    color:#fff;
    padding: 10px;
    text-transform: uppercase;
}
h2{
    font-size: 25px;
    text-transform: uppercase;
    color:#fff;
    padding: 0 0 10px 0;
}
h3{
    color: #fff;
    font-size: 13px;
    padding: 10px;
}

    .footer{
    background:#000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.pie{
    text-align: center;
    display:flex;
}
 .pie a{
     color: #fff;
     font-size:15px;
     text-transform: uppercase;
     padding: 0 10px;
 }   
